@font-face {
    font-family: guide_font;
    src: url('../fonts/VeraMono-Bold.ttf');
}
html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Merriweather,Georgia,serif;
}

body {
    font-size: 1.6rem;
    color: #f3f3f3
}



#wrapper {
    position: relative; 
    background-color: rgb(29, 29, 29);
    height: 100%;
    width: 100%; 
    z-index: 999;
 
}

#game_canvas {
    background:#1d1d1d; 
    display: block; /* delete isues with margin bottom */
    vertical-align: bottom; /* delete isues with margin bottom */
    /* margin: 0 auto; */
    position: absolute;
    top: 150px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#game_background {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1f1f1fe8;
    opacity: 1;
}

#game_stop {
    position: absolute;
    display: block;
    width: 300px;
    height: 80px;
    margin-top: -80px;
    top: 0;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background: #232323;
    padding: 10px;
}

#game_create {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#game_guide {
    position: absolute;
    display: block;
    width: 660px;
    height: 350px;
    top: 20%;
    /* border-radius: 5px; */
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    /* background: #2c2c2c; */
    padding: 10px;
}

#game_guide h1 {
    position: relative;
    margin-top: 60px;
    display: block;
    width: 100%;
    height: 30px;
    font-family: guide_font;
    font-size: 2.5rem;
    letter-spacing: 1rem;
    color: aliceblue;
    text-align: center;
}

#game_guide p {
    display: block;
    position: relative;
    font-family:guide_font;
    font-size: 2.0rem;
    letter-spacing: 0;
   
    width: 100%;
    color: aliceblue;
    text-align: center;
    margin-top: 30px;
    line-height: 3rem;
}

#game_stats { 
    padding: 10px;
    position: absolute;
    display: none;
    top: 30px;
    right: 30px;
    background: #232323;
    width: 200px;
    height: 200px;
    color: aliceblue;
    opacity: 0.9;
    border-radius: 5px;
}

#game_stats h1 {
    font-family: monospace;
    font-size: 2.1rem;
    font-weight: 600;
    text-align: center;
}
#game_stats__list {
    margin-top: 10px;
}

#game_stats__list dt{
    padding: 10px;
}