@font-face {
    font-family: guide_font;
    src: url('../fonts/VeraMono-Bold.ttf');
}
html {
    font-size: 62.5%;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Merriweather,Georgia,serif;
}

body {
    font-size: 1.6rem;
    color: #f3f3f3;
    background-color: #1d1d1d;
}



#wrapper {
    position: relative; 
    background-color: #1d1d1d;
    height: 100%;
    width: 100%; 
    z-index: 999;
 
}

#game_canvas {
    background:#1d1d1d; 
    display: block; /* delete isues with margin bottom */
    /* vertical-align: bottom; delete isues with margin bottom */
    position: absolute;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

a:link, a:active, a:visited {
    color: #cacaca;
    text-decoration: none;
}

#footer {
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    letter-spacing: -1px;
    z-index: 1;
    font-size: 1.3rem;
    font-family: guide_font;
    color: #b9b9b9;
 }


